<form><select class="edit-in-place" name="[% field %]">
<option value="" [% !value.defined ? 'selected="selected"' : '' %]"></option>
<option value="1" [% value ? 'selected="selected"' : '' %]">yes</option>
<option value="0" [% value.defined && !value ? 'selected="selected"' : '' %]">no</option>
</select><input type="hidden" name="update_value" value="1" /></form>
