<form><input class="edit-in-place validate validate-integer" type="text" name="[% field %]" value="[% value | html %]" /><input type="hidden" name="update_value" value="1" /> <span class="validate-message"></span></form>
