<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head><title>CUFTS Resolver</title>
<link rel="stylesheet" href="[% c.uri_for_static('css/resolver.css') %]" type="text/css" media="screen" />
<script src="[% c.uri_for_static('js/jquery.js') %]" type="text/javascript"></script>
<script src="[% c.uri_for_static('js/resolver.js') %]" type="text/javascript"></script>
</head>
<body>
[% PROCESS main_header.tt %]
[% PROCESS main_request.tt %]
[% PROCESS main_results.tt %]
</body>
</html>
