[% SET tests = [
	{
		'atitle' => 'Animal Emotions',
		'title' => 'Newsweek',
		'issn' => '00289604',
		'date' => '2003-07-21',
		'volume' => 142,
		'issue' => 3,
		'spage' => 45,
		'genre' => 'article',
		'_resources' => 'ABI/Inform',
	},
	{
		'atitle' => 'Double standards',
		'title' => 'Nature',
		'issn' => '00280836',
		'date' => '2001-11-01',
		'volume' => 414,
		'issue' => 6859,
		'spage' => 1,
		'genre' => 'article',
		'_resources' => 'EBSCO Academic *',
	},
	{
		'atitle' => 'Poetry',
		'title' => 'African American Review',
		'issn' => '10624783',
		'date' => '1992',
		'volume' => 26,
		'issue' => 2,
		'pages' => '213-215',
		'genre' => 'article',
		'_resources' => 'JSTOR ASI',
	},
	{
		'atitle' => 'How to stop taking hormone therapy',
		'title' => 'A Friend Indeed',
		'issn' => '08241961',
		'date' => '2003-03',
		'volume' => 20,
		'issue' => 1,
		'spage' => 7,
		'genre' => 'article',
		'_resources' => 'CPI.Q',
	},
	{
		'title' => 'Callaloo',
		'issn' => '01612492',
		'date' => '2003',
		'volume' => 26,
		'issue' => 3,
		'genre' => 'journal',
		'_resources' => 'Arts and Humanities - Project MUSE',
	},
	{
		'title' => 'Journal of Management History',
		'issn' => '1355-252X',
		'genre' => 'journal',
		'_resources' => 'Emerald',
	},
	{
		'atitle' => 'Introduction to the special issue on the role of iron in alcoholic liver disease',
		'title' => 'Alcohol',
		'issn' => '07418329',
		'date' => '2003-06',
		'volume' => 30,
		'issue' => 2,
		'spage' => 91,
		'genre' => 'article',
		'_resources' => 'Elsevier',
	},
]
%]