[%- SWITCH viewing -%]
[%- CASE 0 -%]
 [% c.loc('private') | html %]
[%- CASE 1 -%]
 [% c.loc('public') | html %]
[%- CASE 2 -%]
 [% c.loc('local public') | html %]
[%- CASE -%]
 [% c.loc('error') | html %]
[%- END -%]