<ul class="breadcrumb">
[% FOREACH breadcrumb IN breadcrumbs %]
  [% IF loop.last %]
    <li class="active">[% breadcrumb.1 | html %]</li>
  [% ELSE %]
    <li><a href="[% breadcrumb.0 | html %]">[% breadcrumb.1 | html %]</a> <span class="divider">/</span></li>
  [% END %]
[% END %]
</ul>