[% PROCESS page_title.tt %]
[% PROCESS browse_form.tt %]
<div id="browse">

[% PROCESS pager.tt %]

[% WHILE ( subject = subjects_rs.next ) %]

<div class="subject">
	<a href="[% c.uri_for_site( c.controller('Browse').action_for('bylink'), 'subject', subject.id ) %]">[% subject.subject | html %]</a>
</div>

[% END %]

[% PROCESS pager.tt %]
</div>