[% PROCESS page_title.tt %]
[% PROCESS browse_form.tt %]
<div id="browse">

[% PROCESS pager.tt %]

[% WHILE ( association = associations_rs.next ) %]

<div class="association">
	<a href="[% c.uri_for_site( c.controller('Browse').action_for('bylink'), [ 'association', association.id ] ) %]">[% association.association | html %]</a>
</div>

[% END %]

[% PROCESS pager.tt %]
</div>