[% SET journal_subjects = journal.subjects_rs %]
[% IF journal_subjects.count > 0 %]
  <div id="subjects" class="details">
    <h3>[% c.loc('Subjects') | html %]</h3>
    <ul>
    [% WHILE ( subject = journal_subjects.next ) %]
      <li><a href="[% c.uri_for_site( c.controller('Browse').action_for('bylink'), 'subject', subject.id ) | html %]">[% subject.subject | html %]</a></li>
    [% END %]
    </ul>
  </div> <!-- subjects -->
[% END %]
