[%- SWITCH link.link_type -%]
 [% CASE 0 %]
  [%- c.site.cjdb_print_name | html -%]
 [%- CASE 1 -%]
  [%- resource.name -%]
 [%- CASE 2 -%]
  [%- resource.name -%]
 [%- CASE DEFAULT -%]
  [% c.loc('Unrecognized link type') | html %] [% link.link_type -%]
[%- END -%]