[% RETURN IF !tags.size > 0 %]
[%# tags format: [ tag name, level, count ] %]
<div id="tags" class="hidden-phone">
  <h3>[% c.loc('Tags') | html %]</h3>
  <ol class="tags">
  [% FOREACH tag IN tags %]
    <li>
      <a class="tag-link" href="[% c.uri_for_site( c.controller('Browse').action_for('tags'), { q => tag.0 } ) | html %]">[% tag.0 | html %]</a>
      <span class="tag-count">([% tag.1 | html %])</span>
    </li>
  [% END %]
  </ol>
</div>
