<!DOCTYPE html>
<html lang="en">
[%- PROCESS site_setup.tt -%]
<head>
 <title>Electronic Journals</title>
 <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 <link href="[% c.uri_for_static('bootstrap/css/bootstrap.min.css') | html %]" rel="stylesheet" media="screen" />
 <link href="[% c.uri_for_static('css/cjdb.css') | html %]" rel="stylesheet" media="screen" />
 <link href="[% c.uri_for_static('bootstrap/css/bootstrap-responsive.min.css') | html %]" rel="stylesheet" media="screen" />
  [% IF site_css_uri %]<link href="[% site_css_uri | html %]" rel="stylesheet" media="screen" />[% END %]
 <script src="[% c.uri_for_static('js/jquery-1.10.1.min.js') | html %]"></script>
</head>
<body>
<div id="page"><div id="page-container">
[%- PROCESS page_header.tt -%]

<div id="content" class="container-fluid">
[%- PROCESS breadcrumbs.tt -%]
[%- PROCESS nav_line.tt -%]
[%- PROCESS errors.tt -%]
[%- content -%]
</div>

[% PROCESS page_footer.tt %]
</div></div>
<script>
	var URLs = {
		data: {
			ISSN: '[% c.uri_for_site( c.controller('Data').action_for('issns') ) | html %]',
			tag: '[% c.uri_for_site( c.controller('Data').action_for('tags') ) | html %]'
		}
	};
</script>
<script src="[% c.uri_for_static('bootstrap/js/bootstrap.min.js') | html %]"></script>
<script src="[% c.uri_for_static('js/cjdb.js') | html %]"></script>
</body>
</html>
