[% SET erm_fields = [
        ['ill',         'Allows ILL',         'allows_ill',         'ill_notes' ],
        ['course',      'Allows coursepacks', 'allows_coursepacks', 'coursepack_notes' ],
        ['reserves',    'Allows reserves',    'allows_ereserves',   'ereserves_notes' ],
        ['email',       'Allows emails',      'allows_emails',      'emails_notes' ],
     ]
%]
