[% SET erm_fields = [
        ['reserves',    'Allows e-reserves',         'allows_ereserves',   'ereserves_notes' ],
        ['course',      'Allows coursepacks',        'allows_coursepacks', 'coursepack_notes' ],
        ['ill',         'Allows interlibrary loan',  'allows_ill',         'ill_notes' ],
     ]
%]

[%#         ['email',       'Allows emails',      'allows_emails',      'emails_notes' ], %]