[%- SWITCH link.link_type -%]
 [% CASE 0 %]
  [%- current_site.cjdb_print_link_label | html -%]
 [%- CASE 1 -%]
[% c.loc( 'journal' ) %]
 [%- CASE 2 -%]
[% c.loc( 'database' ) %]
 [%- CASE DEFAULT -%]
[% c.loc( 'Unrecognized link type' ) %] [% link.link_type -%]
[%- END -%]