[%- SWITCH link.link_type -%]
 [% CASE 0 %]
  [%- current_site.cjdb_print_name | html -%]
 [%- CASE 1 -%]
  [%- resource.name -%]
 [%- CASE 2 -%]
  [%- resource.name -%]
 [%- CASE DEFAULT -%]
Unrecognized link type [% link.link_type -%]
[%- END -%]