[% USE url %]

<form action="[% url("$url_base/account/login") %]" method="post">
<table>
<tr><td>[% c.loc( 'Log in' ) %]</td><td><input name="key" type="text" size="20" maxlength="128" /></td></tr>
<tr><td>[% c.loc( 'Password' ) %]</td><td><input name="password" type="password" size="20" maxlength="128" /></td></tr>
<tr><td colspan="2"><input type="submit" name="login" value="[% c.loc( 'login' ) %]" /></td></tr>
</table>
</form>
