/* NOTE: Sites should not use this file as is. It will already be inlcuded in the HTML. You're better off
         starting with blank CSS and overriding only what you need to. Otherwise future updates may break. */

body {
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h1 {
    font-family: Arial, Verdana, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
}

h2 {
    font-size: 16px;
}

header {
    background: #326ead;
    width: 100%;
    color: white;
}

header h1 {
    padding: 5px;
    margin: 0;
}

.page-header {
    margin: 10px 0 12px;
    padding: 0;
}

footer {
    margin-top: 15px;
    padding-top: 10px;
    border-top: 1px solid #eee;
    text-align: center;
}

#content {
    padding-bottom: 20px;
}

ul.breadcrumb {
    background: none;
    padding: 0;
    margin: 10px 0 5px 3px;
}

/* Account */

#account-bar {
    margin-top: 3px;
    float: right;
}

#account-bar .account-name {
    margin-right: 15px;
}

#account-manage {}

#account-manage .controls.account-key {
    padding-top: 5px;
}

/* Special fonts for the tabs */

.nav {
    font-size: 90%;
    font-family: arial, sans-serif;
    margin-bottom: 0;
}

/* Main screen */

#main .main-box {
    margin-bottom: 15px;
}

#main h2 {
    line-height: 20px;
    margin-top: 0;
}

#main form {
    margin-bottom: 10px;
}

#main input, #main select {
    margin-bottom: 0;
}

#main .pagination {
    margin-top: 0;
    margin-bottom: 15px;
}

/* Browse form */

#browse-form  {
    margin-bottom: 15px;
}

#browse-form ul.nav {
    margin-bottom: 0;
}

#browse-form div.tab-content {
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 0px;
}

#browse-form form {
    margin: 10px;
}

#browse-form-mobile form {
    margin: 0;
}

#browse-form-mobile input.search-query {
    position: relative;
}

#browse-form .subjects-also {
    margin-left: 10px;
}

#browse-brief-subject_description h4 {
    margin-bottom: 8px;
    color: #36a;
}

#browse-brief-subject_description a {
    color: #23d;
}


/* List sites */

#list-sites ul {
}


/* Facet Menu */

#facet-menu h1 {
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    margin-top: 0;
}

#facet-menu h2 {
    font-size: 13px;
    font-weight: bold;
    line-height: 16px;
    margin: 0;
    padding: 10px 15px 10px 15px;
    width: 100%;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#facet-menu .well {
    padding: 0;
}

#facet-menu form {
    margin-bottom: 0;
}


.facet-menu-heading {
}

.facet-menu-content {
    padding: 10px 15px 10px 15px;
}

.facet-menu-content select, .facet-menu-content input {
    margin-bottom: 0;
}

.facet-menu {
    position: relative;
}

#current-facets {
    margin-bottom: 10px;
}

#current-facets dd {
    text-indent: -19px;
    margin-left: 25px;
}

.facet-menu-collapse-control {
    margin-top: 5px;
}

/* Browse list */

#browse h2 {
    font-size: 20px;
    margin: 2px 0;
}

ol.browse-resources, ol.browse-resources li {
    margin: 0;
    padding: 0;
    list-style: none;
}

#browse-brief-subject_description {
    margin-bottom: 5px;
}

#browse-brief-subject_description p {
    margin: 10px 0;
}

#browse-brief-subject_description p:first-child {
    margin-top: 0;
}
#browse-brief-subject_description p:last-child {
    margin-bottom: 0;
}

#browse .resource {
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
    margin-bottom: 10px;
}

#browse .browse-field-name {
    font-weight: bold;
    font-size: 17.5px;
}

#browse .browse-field-name.open-access a {
    background-image: url(../images/open_access.gif);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 20px;
}

#browse .browse-field-description, #browse .browse-field-alert {
    margin: 5px 0;
}

#browse .browse-field-alert {
    color: red;
}

#browse #links ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

/* Browse list editing */

#browse-brief-subject_description {
    position: relative;
}

.edit-browse-subject {
    position: absolute;
    top: -1px;
    right: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    color: #9da0a4;
    -webkit-border-radius: 0 4px 0 4px;
    -moz-border-radius: 0 4px 0 4px;
    border-radius: 0 4px 0 4px;
}

.sortable-icon {
    float: right;
    padding: 3px 3px;
}


body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

ol.browse-resources li.placeholder {
  position: relative;
}
ol.browse-resources li.placeholder:before {
  position: absolute;
}

#browse-brief-subject_description-textarea {
    width: 95%;
}

/* Resource */

#resource h3 {
    margin: 0;
}

dl#resource-fields {
    margin-top: 0;
}

#resource-fields dd, #resource-fields dt {
    padding-top: 10px;
}

#resource-fields .no-data {
    display: none;
}

#resource-fields dd.no-label {
    margin-left: 0;
}

#resource-fields dt.no-label {
    display: none;
}

#resource-alert-data {
    color: red;
}

.resource-data ul {
    margin-left: 17px;
    padding: 0;
    list-style-type: disc;
}

/* Field Editing */

.field-editing textarea {
    width: 80%;
    height: 5.5em;
}

.field-editing form {
    margin-bottom: 0;
    display: inline;
}

.field-editing select[multiple] {
    height: 15em;    
}


/* Icon overrides */

.icon-ok {
    background-image: url("../images/glyphicons-halflings-green.png");
}

.icon-remove {
    background-image: url("../images/glyphicons-halflings-red.png");
}

/* Size */

@media (min-width: 768px) {

    #facet-menu {
        width: 250px;
        float: left;
        padding: 0;
        margin: 0;
    }

    #browse {
        margin-left: 275px;
        width: auto;
    }

    #resource .dl-horizontal dt {
        width: 200px;
    }

    #resource .dl-horizontal dd {
        margin-left: 220px;
    }
}

@media (max-width: 767px) {
    body {
        padding: 0;
    }
}

@media (max-width: 480px) {

    #content {
        padding: 0;
    }

    #main .main-box {
        padding: 0 5px;
    }

    #facet-menu h1 {
        margin-left: 5px;
    }

    #facet-menu, #browse {
        float: left;
        width: 100%;
        margin-bottom: 10px;
    }

    #facet-menu .facet-menu-content {
        float: right;
    }

    #facet-menu select, #facet-menu input {
        width: 180px;
    }

    #facet-menu input {
        width: 165px;
    }

    #facet-menu .well {
        float: left;
        clear: both;
        width: 100%;
        margin: 0;
        border: none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }

    #facet-menu h2 {
        margin: 18px 0 0 5px;
        padding: 0;
        border: none;
        float: left;
        clear: left;
        width: 33%;
        font-size: 130%;
    }

    #browse>h2 {
        clear: both;
        margin: 3px 5px;
    }

    #browse>ol {
        margin: 3px 5px;
    }

    #facet-menu form {
    }

    #browse-brief-subject_description {
        float: left;
        clear: both;
        margin-top: 10px;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }

    #main div.main-box {
        border-right: none;
        border-left: none;
        margin-bottom: 5px;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }

    #resource-fields dd {
        padding-top: 3px;
    }

    #resource-fields dd.no-label {
        margin-bottom: 10px;
    }

    dl#resource-fields {
        padding: 0 5px;
    }

    #resource h3 {
        font-size: 22px;
        line-height: 30px;
        margin: 0 5px;
    }
}
