[% config_entry.help = BLOCK -%]
This report shows the database usage numbers (searches and sessions) from COUNTER sources.  If you select multiple resources that include different counter sources, the counts will be merged.
[%- END %]
[% SET config_entry.name = 'Counter Database Usage (DB1)' %]
[% SET config_entry.formats = [ 'html', 'tab' ] %]