[% FOREACH grouped_record IN erm.get_group_records %]
 [% fragment = BLOCK %]
 <div class="resource-definition-grouped_record">
  <h3><a href="[% c.uri_for_site( c.controller('Resource').action_for('default_view'), [ grouped_record.id ] ) %]">[% grouped_record.main_name %]</a></h3>
  [% grouped_record.description_brief %]
 </div>
 [% END %]
 [% SET group_record_text = group_record_text _ fragment %]
[% END %]
