<form action="[% c.uri_for_site( c.controller('Account').action_for('login') ) %]" method="post">
<table>
<tr><td>[% c.loc( 'login id' ) %]</td><td><input name="key" type="text" size="20" maxlength="128" /></td></tr>
<tr><td>[% c.loc( 'password' ) %]</td><td><input name="password" type="password" size="20" maxlength="128" /></td></tr>
<tr><td colspan="2"><input type="submit" name="login" value="[% c.loc( 'login' ) %]" /></td></tr>
</table>
</form>
